hall_vbsjet_DEta  1000  0     10
hall_vbsjet_Mass  1000  0   4000

hall_jet_Pt	  1000  0  500
hall_jet_Eta	  1000  0  5

hall_met	   	  1000  0  500

hall_lep_Pt	  1000  0  500
hall_lep_Eta	  1000  0  2.6
hall_jet_N 	  12  0  12

hall_leadjet_Pt	  1000  0  500
hall_leadjet_Eta  1000  0  5
hall_trilep_Mass  1000   0  1000
hall_trilep_Zepp  1000   0  2.6

hall_Z_Mass	  1000  0  300
hall_WZ_Mass	  1000  0  2000
hall_leadlep_Pt	  1000  0  500
hall_leadlep_Eta  1000  0  2.6

###########################
########### mmm ###########
###########################

hall_mmm_vbsjet_DEta  1000  0     10
hall_mmm_vbsjet_Mass  1000  0   4000

hall_mmm_jet_Pt	  1000  0  500
hall_mmm_jet_Eta	  1000  0  5

hall_mmm_met	   	  1000  0  500

hall_mmm_lep_Pt	  1000  0  500
hall_mmm_lep_Eta	  1000  0  2.6
hall_mmm_jet_N 	  12  0  12

hall_mmm_leadjet_Pt	  1000  0  500
hall_mmm_leadjet_Eta  1000  0  5
hall_mmm_trilep_Mass  1000   0  1000
hall_mmm_trilep_Zepp  1000   0  2.6

hall_mmm_Z_Mass	  1000  0  300
hall_mmm_WZ_Mass	  1000  0  2000
hall_mmm_leadlep_Pt	  1000  0  500
hall_mmm_leadlep_Eta  1000  0  2.6

###########################
########### mme ###########
###########################

hall_mme_vbsjet_DEta  1000  0     10
hall_mme_vbsjet_Mass  1000  0   4000

hall_mme_jet_Pt	  1000  0  500
hall_mme_jet_Eta	  1000  0  5

hall_mme_met	   	  1000  0  500

hall_mme_lep_Pt	  1000  0  500
hall_mme_lep_Eta	  1000  0  2.6
hall_mme_jet_N 	  12  0  12

hall_mme_leadjet_Pt	  1000  0  500
hall_mme_leadjet_Eta  1000  0  5
hall_mme_trilep_Mass  1000   0  1000
hall_mme_trilep_Zepp  1000   0  2.6

hall_mme_Z_Mass	  1000  0  300
hall_mme_WZ_Mass	  1000  0  2000
hall_mme_leadlep_Pt	  1000  0  500
hall_mme_leadlep_Eta  1000  0  2.6

###########################
########### mee ###########
###########################

hall_mee_vbsjet_DEta  1000  0     10
hall_mee_vbsjet_Mass  1000  0   4000

hall_mee_jet_Pt	  1000  0  500
hall_mee_jet_Eta	  1000  0  5

hall_mee_met	   	  1000  0  500

hall_mee_lep_Pt	  1000  0  500
hall_mee_lep_Eta	  1000  0  2.6
hall_mee_jet_N 	  12  0  12

hall_mee_leadjet_Pt	  1000  0  500
hall_mee_leadjet_Eta  1000  0  5
hall_mee_trilep_Mass  1000   0  1000
hall_mee_trilep_Zepp  1000   0  2.6

hall_mee_Z_Mass	  1000  0  300
hall_mee_WZ_Mass	  1000  0  2000
hall_mee_leadlep_Pt	  1000  0  500
hall_mee_leadlep_Eta  1000  0  2.6

###########################
########### eee ###########
###########################

hall_eee_vbsjet_DEta  1000  0     10
hall_eee_vbsjet_Mass  1000  0   4000

hall_eee_jet_Pt	  1000  0  500
hall_eee_jet_Eta	  1000  0  5

hall_eee_met	   	  1000  0  500

hall_eee_lep_Pt	  1000  0  500
hall_eee_lep_Eta	  1000  0  2.6
hall_eee_jet_N 	  12  0  12

hall_eee_leadjet_Pt	  1000  0  500
hall_eee_leadjet_Eta  1000  0  5
hall_eee_trilep_Mass  1000   0  1000
hall_eee_trilep_Zepp  1000   0  2.6

hall_eee_Z_Mass	  1000  0  300
hall_eee_WZ_Mass	  1000  0  2000
hall_eee_leadlep_Pt	  1000  0  500
hall_eee_leadlep_Eta  1000  0  2.6

###########################
########### VBS ###########
###########################

hjets_vbsjet_DEta  1000  0     10
hjets_vbsjet_Mass  1000  0   4000

hjets_jet_Pt	  1000  0  500
hjets_jet_Eta	  1000  0  5

hjets_met	   	  1000  0  500


hjets_lep_Pt	  1000  0  500
hjets_lep_Eta	  1000  0  2.6
hjets_jet_N 	  12  0  12

hjets_leadjet_Pt	  1000  0  500
hjets_leadjet_Eta  1000  0  5
hjets_trilep_Mass  1000   0  1000
hjets_trilep_Zepp  1000   0  2.6

hjets_Z_Mass	  1000  0  300
hjets_WZ_Mass	  1000  0  2000
hjets_leadlep_Pt	  1000  0  500
hjets_leadlep_Eta  1000  0  2.6

